.calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.screen{
    /* estructura */
    grid-column: span 4;
    padding: 10px;
    /* visual */
    color: rgb(178, 195, 255);
    background-color: rgb(197, 247, 236);
    border: 1px solid black;
}

.fr{
    grid-column: span 1;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 15px;
    background-color: rgb(191, 191, 191);
    padding: 3px;
    border: 1px solid black;
}
.num{
    grid-column: span 1;
    color: black;
    text-align: center;
    border: 1px solid black;
}
.equal{
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 144, 144);
    border: 1px solid black;
}
.fr:hover{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.num:hover{
    box-shadow: 0 0 15px 0 rgba(255, 0, 0, 0.5);
}
.equal:hover{
    box-shadow: 0 0 15px 0 rgba(0, 255, 21, 0.5);
}